{% extends 'base.html' %}

{% block content %}
  <div class="container py-4">
    <h1>{{ post.title }}</h1>
    <p>{{ post.excerpt }}</p>

    <p><span class="text-secondary">{{ post.date|date:"F d, Y" }}</span> - 
      <a href="{% url 'author-detail' post.author.pk %}">{{ post.author }}</a></p>

    {% if post.imatge %}
      <img src="{{ post.imatge_name.url }}" alt="{{ post.title }}" class="img-fluid mb-3">
    {% endif %}

    <p>{{ post.content }}</p>

    <div class="bg-light p-3">
      <h1>Etiquetes</h1>
      {% for tag in post.tags.all %}
        <button class="bg-secondary text-white border-0 rounded-1 p-2">
          <a style="text-decoration: none; color: white;" href="{% url 'tag-post' tag.pk %}">
            {{ tag.tag }}
          </a>
        </button>
      {% empty %}
        <li>El post no té etiquetes</li>
      {% endfor %}
    </div>
  </div>
{% endblock %}